.buttonLink{
    width: 178px;
    height: 39px;
    font-family: "Krona One", sans-serif;
    font-size: 12px;
    text-align: center;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: .3s;
}

.buttonLink:hover{
    border-color:#7500FF;
}