.navTopBar{
    width: 100%;
    height: 59px;
    background: #000000c7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px;
    position: absolute;
    top: 0;
}

.navLink{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.bi-circle-half{
    color: white;
    font-size: 22px;
    cursor: pointer;
}

header{
    width: 100%;
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #49494966;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 59px;
}

.logo{
    width: 182px;
    height: auto;
}

.searchBox{
    background-color: white;
    width: 350px;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border-radius: 5px;

}

.bi-search{
    transform: rotate(90deg);
    font-size: 15px;
}

.inputBox{
    width: 90%;
    height: 90%;
    font-size: 17px;
    outline: none;
    border: none;
}

.headerLink{
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}
